@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
  }
  
  @keyframes color {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height:90vh;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.person-container {
    min-height: 100vh;
    display: flex;
}

.person {
    flex: 2;
    overflow: hidden;
    position: relative;
    transition: 0.5s ease;
}

.person:hover {
    flex: 5;
    cursor: pointer;
}

.person img {
    position: absolute;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
    filter: grayscale(10);
    transition: 0.2s ease;
}

.info {
    position: absolute;
    color: #fff;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    bottom: -200px;
    text-align: center;
    transition: 0.4s ease;
}

.info .social-media {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.social-media a {
    text-decoration: none;
    color: #fff;
    background: #111;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 17px;
}

.person:hover .info {
    bottom: 80px;
}

.person:hover img {
    filter: grayscale(0);
}